/* General Styling */

html {
	width: 100%;
	background-image: url('coffee-bg.jpg');
	background-attachment: fixed;
	box-sizing: border-box;
	overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	max-width: 1024px;
	margin: auto;
	padding: 0px 10px;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin: 5px 0px;
}

h2 {
	font-size: 2em;
	margin: 5px 0px;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5em;
	margin: 5px 0px;
}

a:link, a:active {
	color: #422E20;
}

a:visited {
	color: #D6A882;
}

.humble {
	color: #f00;
	text-shadow: -1px 1px 1px #000080;
	text-transform: uppercase;
}

/* Header Positioning and Styling */

header {
	width: 100%;
	padding: 20px 0px;
	color: #fff;

}

nav {
	padding-top: 10px;
}

nav a:link, nav a:visited, nav a:active {
	color: #fff;
}

nav a:hover, nav a:visited {
	color: #D6A882;
}

/* Main Content Positioning and Styling */

#content {
	overflow: hidden;
}

main {
	width: 70%;
	float: right;
}

main section {
	padding: 10px;
	border-radius: 10px;
	margin: 15px;
	background-color: #F5D5AB;
	color: #75572F;
}

main section:first-of-type {
	margin-top: 0px;
}

section img {
	width: 100%;
}

/* Sidebar Position and Styling */

aside {
	width: 30%;
	float: left;
	padding: 10px;
	background-color: #ddd;
	border-radius: 10px;
	text-align: justify;
	background-color: #F5D5AB;
	color: #75572F;
}

/* Footer Positioning and Styling */

footer {
	clear: both;
	background: #F5D5AB;
	color: #75572F;
	width: 100%;
}

footer p {
	text-align: center;
}

footer section {
	padding: 10px;
	border-radius: 10px;
	margin: 15px;
	background-color: #F5D5AB;
	color: #75572F;
}