/* General Styling */

html {
	width: 100%;
	background: #fff;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #ccc;
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	max-width: 1024px;
	margin: auto;
	padding: 0px 10px;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin: 5px 0px;
}

h2 {
	font-size: 2em;
	margin: 5px 0px;
}

h3 {
	font-family: "Times New Roman";
	font-size: 1.5em;
	margin: 5px 0px;
}

/* Element Positioning and Styling */

header {
	background: #eee;
	outline: 10px solid #eee;
}

main {
	width: 70%;
	float: left;
	padding-top:20px;
}

aside {
	width: 30%;
	float: right;
	padding-top: 20px;
}

footer {
	clear: both;
	margin: auto;
}

/* Main Content Positioning and Styling */

section {
	padding: 10px;
}

section:first-of-type {
	padding-top: 0px;
}